p.title {
    text-align: center;
}

.meta h1 {
    font-size: 1.5em;
    text-align: center;
}

.meta h2 {
    font-size: 1.25em;
    text-align: center;
}

.meta h2 {
    page-break-before: always;
}

.meta .byline {
    text-align: center;
}

.meta dl.stats {
    border: 1px solid;
    padding: 1em;
}

.meta dd {
    margin: -1em 0 0 10em;
}

.userstuff {
    font-family: "Nimbus Roman No9 L", "Times New Roman", serif;
    padding: 1em;
}
