<div class="modal fade" id="chaptersCompletionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title">Toggle chapters completion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <span id="chapter-completion-modal-text"></span>
            </div>
            <div class="modal-footer">
                <form action="" id="chapters-completion-form" method="POST">
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
