<div class="modal fade" id="removeWorkModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title">Remove work</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Do you want to remove: <span id="remove-modal-item-name"></span>
            </div>
            <div class="modal-footer">
                <form action="" id="remove-modal-form" method="POST">
                    <button type="submit" class="btn btn-danger">
                        Remove
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
