<div class="modal fade" id="runLongRunningTask" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title">Warning</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">This task may take a long time to complete, do you want to start it ?</div>
            <div class="modal-footer">
                <form action="" id="run-long-running-task-form" method="POST">
                    <button type="submit" class="btn btn-success">Run</button>
                </form>
            </div>
        </div>
    </div>
</div>
