services:
  whimdb:
    command: whimdb-server --port 6000
    container_name: ao3_web_reader_whimdb
    restart: unless-stopped
    build:
      context: .
      dockerfile: docker/Dockerfile.whimdb

  app:
    depends_on:
      - whimdb
    container_name: ao3_web_reader
    command: /bin/sh -c "/ao3_web_reader/scripts/entrypoint.sh"
    build:
      context: .
      dockerfile: docker/Dockerfile.web_app
    restart: unless-stopped
    ports:
      - ${APP_PORT}:8000
    volumes:
      - ${DB_PATH}:/ao3_web_reader/database
      - ${LOGS_PATH}:/ao3_web_reader/logs
    env_file:
      - .env

  tasks:
    depends_on:
      - whimdb
      - app
    container_name: ao3_web_reader_tasks
    command: /bin/sh -c "/ao3_web_reader/scripts/run_background_tasks.sh"
    build:
      context: .
      dockerfile: docker/Dockerfile.background_tasks
    restart: unless-stopped
    volumes:
      - ${DB_PATH}:/ao3_web_reader/database
      - ${LOGS_PATH}:/ao3_web_reader/logs
    env_file:
      - .env
