services:
  redis:
    image: redis:6.2-alpine
    command: --port 6000
    container_name: ao3_web_reader_redis
    restart: unless-stopped

  app:
    depends_on:
      - redis
    container_name: ao3_web_reader
    command: /bin/sh -c "/ao3_web_reader/scripts/entrypoint.sh"
    build:
      context: .
      dockerfile: docker/Dockerfile.web_app
    restart: unless-stopped
    ports:
      - ${APP_PORT}:8000
    volumes:
      - ${DB_PATH}:/ao3_web_reader/database
      - ${LOGS_PATH}:/ao3_web_reader/logs
    env_file:
      - .env

  tasks:
    depends_on:
      - redis
      - app
    container_name: ao3_web_reader_tasks
    command: /bin/sh -c "/ao3_web_reader/scripts/run_background_tasks.sh"
    build:
      context: .
      dockerfile: docker/Dockerfile.background_tasks
    restart: unless-stopped
    volumes:
      - ${DB_PATH}:/ao3_web_reader/database
      - ${LOGS_PATH}:/ao3_web_reader/logs
    env_file:
      - .env
