{% extends "base.html" %}
{% block content %}

{% set menuItems = [
  {
    'title': 'Tags',
    'url': url_for('tags.all_tags'),
  },
  {
    'title': 'Add Tag',
    'url': url_for('tags.add_tag'),
  },
  {
    'title': 'Add Work',
    'url': url_for('works.add_work'),
  },
  {
    'title': 'Logout',
    'url': url_for('auth.logout'),
  },
] %}

<div class="main-container">
    <div class="navbar main-navbar navbar-dark sticky-top navbar-expand-sm">
        <div class="container-fluid">
            <div class="navbar-title-wrapper">
                <a class="navbar-brand navbar-logo" href="{{ url_for('main.home') }}">
                    AO3 Reader
                </a>
                <img id="sync-icon" class="d-none" src="{{ url_for('static', filename='icons/cloud_sync_icon.svg') }}"
                     alt="sync in progress">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav ms-auto">
                    {% for menuItem in menuItems %}
                      <li class="nav-item">
                          <a href="{{ menuItem['url'] }}">
                            {{ menuItem['title'] }}
                          </a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% block page_content %}
    {% endblock %}
</div>

<script>
    updateCloudSyncIcon();
    setInterval(updateCloudSyncIcon, 10000);
</script>

{% endblock %}