{% extends "base.html" %}
{% block content %}

{% set menuItems = [
  {
    'title': 'Tags',
    'url': url_for('tags.all_tags'),
  },
  {
    'title': 'Add Tag',
    'url': url_for('tags.add_tag'),
  },
  {
    'title': 'Add Work',
    'url': url_for('works.add_work'),
  },
  {
    'title': 'Logout',
    'url': url_for('auth.logout'),
  },
] %}

<div class="main-container">
    {% with nav_links=menuItems %}
        {% include "components/navbar.html" %}
    {% endwith %}
    {% block page_content %}
    {% endblock %}
</div>

<script>
    updateCloudSyncIcon();
    setInterval(updateCloudSyncIcon, 10000);
</script>

{% endblock %}
