<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <div>
        <div class="meta">
            <h2 class="chapter">{{title}}</h2>
            <p>Added: {{date}}</p>
        </div>

        <div class="userstuff">
            {{content}}
        </div>
    </div>
</body>

</html>