{% extends "page_layout.html" %}
{% block page_content %}

<div class="main-content-wrapper">
    <div class="main-content-container manage-work-buttons-container">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeTagModal">
            Remove
        </button>
    </div>

    <!-- removeTagModal -->
    <div class="modal fade" id="removeTagModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title">Remove tag</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Do you want to remove: {{ tag.name }}
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for('main.remove_tag', tag_id=tag.id) }}" method="POST">
                        <button type="submit" class="btn btn-danger">
                            Remove
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}