{% extends "page_layout.html" %}
{% block page_content %}

<div class="main-content-wrapper">
    <div class="main-content-container">
        <div class="work-header">
            <h2>
                {{ work.name }}
            </h2>
            {% if work.description %}
                <div class="work-description">
                    {{ work.description }}
                </div>
            {% endif %}
        </div>
        {% for chapter in work.chapters %}
            <a class="chapter-nav-bar" href="{{ url_for('works.chapter', work_id=work.work_id, chapter_id=chapter.chapter_id) }}">
                <div class="content-item">
                    <div class="item-title">
                        {{ chapter.title }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}