{% extends "page_layout.html" %}
{% block page_content %}

<div class="main-content-wrapper">
    <div class="main-content-container">
        <div class="work-header">
            <h2>
                {{ work.name }}
            </h2>
            {% if work.description %}
                <div class="work-description">
                    {{ work.description }}
                </div>
            {% endif %}
        </div>
        {% if available_chapters|length > 0 or removed_chapters|length > 0 %}
            <div class="chapters-container-wrapper">
                {% if available_chapters|length > 0 %}
                    <div class="chapters-wrapper">
                        {% for chapter in available_chapters|sort(attribute="order_id") %}
                            <a class="chapter-nav-bar" href="{{ url_for('works.chapter', work_id=work.work_id, chapter_id=chapter.chapter_id) }}">
                                <div class="content-item">
                                    <div class="content-item-side-icon-wrapper">
                                        {% if chapter.completed %}
                                            <img src="{{ url_for('static', filename='icons/done_icon.svg') }}" alt="completed">
                                        {% else %}
                                            <img src="{{ url_for('static', filename='icons/not_done_icon.svg') }}" alt="incomplete">
                                        {% endif %}
                                    </div>
                                    <div class="item-title">
                                        {{ chapter.title }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if removed_chapters|length > 0 %}
                    <div class="chapters-wrapper">
                        <p>
                            Removed chapters:
                        </p>
                        {% for chapter in removed_chapters %}
                            <a class="chapter-nav-bar" href="{{ url_for('works.chapter', work_id=work.work_id, chapter_id=chapter.chapter_id) }}">
                                <div class="content-item">
                                    <div class="item-title">
                                        {{ chapter.title }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}