{% extends "page_layout.html" %}
{% block page_content %}

<div class="main-content-wrapper">
    <div class="main-content-container">
        <div class="chapter-work-name-wrapper">
            <a href="{{ url_for('works.chapters', work_id=chapter.work.work_id) }}">
                <h2>
                    {{ chapter.work.name }}
                </h2>
            </a>
        </div>
        <div class="chapter-title-wrapper">
            <h3>{{ chapter.title }}</h3>
        </div>
        <div class="chapter-content-wrapper">
            {% for row in chapter.get_formatted_text() %}
                <p>
                    {{ row }}
                </p>
            {% endfor %}
        </div>
        {% if not chapter.was_removed %}
            <div class="chapter-completion-wrapper">
                <button id="toggle-chapter-completion-button" type="button"
                        onclick="toggleChapterCompletion('Mark as completed', 'Mark as incomplete', '{{ url_for('works.chapter_toggle_completed_state', work_id=chapter.work.work_id, chapter_id=chapter.chapter_id) }}');"
                        class="btn btn-success chapter-completion-button">

                    {{ "Mark as incomplete" if chapter.completed else "Mark as completed" }}
                </button>
            </div>
            {% if chapter.get_next_chapter() or chapter.get_prev_chapter() and not chapter.was_removed %}
                <div class="chapter-controls-wrapper">
                    {% if chapter.get_prev_chapter() %}
                        <a class="btn btn-secondary chapter-controls-button" href="{{ url_for('works.chapter', work_id=chapter.work.work_id, chapter_id=chapter.get_prev_chapter().chapter_id) }}">
                            Prev Chapter
                        </a>
                    {% endif %}
                    {% if chapter.get_next_chapter() %}
                        <a class="btn btn-secondary chapter-controls-button" href="{{ url_for('works.chapter', work_id=chapter.work.work_id, chapter_id=chapter.get_next_chapter().chapter_id) }}">
                            Next Chapter
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        {% if not chapter.was_removed %}
            <form action="{{ url_for('works.force_chapter_update', work_id=chapter.work.work_id, chapter_id=chapter.chapter_id) }}"
                  method="POST" class="w-100">
                {% if updating_chapter %}
                    <button class="btn btn-warning chapter-update-button" disabled type="submit">Update Chapter</button>
                {% else %}
                    <button class="btn btn-warning chapter-update-button" type="submit">Update Chapter</button>
                {% endif %}
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}
