{% extends "page_layout.html" %}
{% block page_content %}

<div class="main-content-wrapper">
    <div class="main-content-container">
        <div class="main-content-title">
            <h2>
                {{ work.name }}
            </h2>
        </div>
        {% for chapter in work.chapters %}
            <div class="content-item">
                <div class="item-title">
                    <a href="{{ url_for('works.chapter', work_id=work.work_id, chapter_id=chapter.chapter_id) }}">
                        {{ chapter.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}