{% extends "page_layout.html" %}
{% block page_content %}

<div class="main-content-wrapper">
    <div class="main-content-container">
        <div class="chapter-title-wrapper">
            <h3>{{ chapter.title }}</h3>
        </div>
        <div class="chapter-content-wrapper">
            {% for row in chapter.get_formatted_text() %}
                <p>
                    {{ row }}
                </p>
            {% endfor %}
        </div>
        <div class="chapter-completion-wrapper">
            <form action="{{ url_for('works.chapter_toggle_completed_state', work_id=chapter.work.work_id, chapter_id=chapter.chapter_id) }}" method="POST">
                <button type="submit" class="btn btn-primary chapter-completion-button">
                    {% if chapter.completed %}
                        Mark as incomplete
                    {% else %}
                        Mark as completed
                    {% endif %}
                </button>
            </form>
        </div>
        {% if chapter.get_next_chapter() or chapter.get_prev_chapter() %}
            <div class="chapter-controls-wrapper">
                {% if chapter.get_prev_chapter() %}
                    <a class="btn btn-secondary" href="{{ url_for('works.chapter', work_id=chapter.work.work_id, chapter_id=chapter.get_prev_chapter().chapter_id) }}">
                        Prev Chapter
                    </a>
                {% endif %}
                {% if chapter.get_next_chapter() %}
                    <a class="btn btn-secondary" href="{{ url_for('works.chapter', work_id=chapter.work.work_id, chapter_id=chapter.get_next_chapter().chapter_id) }}">
                        Next Chapter
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
