{% extends "page_layout.html" %}
{% block page_content %}

<div class="main-content-wrapper">
    <div class="main-content-container">
        <div class="search-bar-wrapper mb-2">
            <form action="{{ url_for('works.all_works', tag_name=tag.name) }}" method="GET">
                <div class="input-group">
                  <input class="d-none" type="text" name="only_favorites" value="{{ only_favorites }}" />
                  <input type="text" class="form-control" name="search" placeholder="work name" value="{{ search_string }}" />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <img src="{{ url_for('static', filename='icons/search_icon.svg') }}" alt="search">
                    </button>
                  </div>
                </div>
            </form>
        </div>
        {% if works|length > 0 %}
            {% for work in works %}
               <div class="content-item">
                   <div class="content-item-side-icon-wrapper">
                       <button type="button" class="btn" onclick="showRemoveModal('removeWorkModal',
                       '{{ work.name }}',
                       '{{ url_for('works.remove_work', work_id=work.work_id) }}',);">
                            <img src="{{ url_for('static', filename='icons/delete_icon.svg') }}" alt="remove work">
                       </button>
                   </div>
                    <div class="item-title">
                        <a href="{{ url_for('works.chapters', work_id=work.work_id) }}">
                            <h2>
                                {{ work.name }}
                            </h2>
                        </a>
                    </div>
                    <div class="item-content-wrapper">
                        <div>
                            <span class="content-item-name">Work ID:</span> {{ work.work_id }}
                        </div>
                        <div>
                            <span class="content-item-name">Chapters:</span> {{ work.chapters|length }}
                        </div>
                        <div>
                            <span class="content-item-name">Completed chapters:</span> {{ work.get_completed_chapters()|length }}/{{ work.chapters|length }}
                        </div>
                        {% if work.get_removed_chapters()|length > 0 %}
                            <div>
                                <span class="content-item-name">Removed chapters:</span> {{ work.get_removed_chapters()|length }}
                            </div>
                        {% endif %}
                        <div>
                            <span class="content-item-name">Added:</span> {{ work.date.isoformat(' ', 'seconds') }}
                        </div>
                        <div>
                            <span class="content-item-name">Updated:</span> {{ work.last_updated.isoformat(' ', 'seconds') }}
                        </div>
                    </div>
                   <div class="work-management-wrapper">
                        <a href="{{ url_for('works.download_work', work_id=work.work_id) }}">
                            <img src="{{ url_for('static', filename='icons/download_icon.svg') }}" alt="download work">
                        </a>
                        <a href="{{ url_for('works.force_chapters_update', work_id=work.work_id) }}">
                            <img src="{{ url_for('static', filename='icons/refresh.svg') }}">
                        </a>
                        <button type="button" class="btn" onclick="showChaptersCompletionModal('chaptersCompletionModal',
                           {% if not work.all_chapters_completed() %}
                           'Do you want to mark all chapters of work as completed ?',
                           {% else %}
                           'Do you want to mark all chapters of work as incomplete ?',
                           {% endif %}
                           '{{ url_for('works.toggle_chapters_completion', work_id=work.work_id, page_id=works_pagination.page_id) }}',);">
                            {% if not work.all_chapters_completed() %}
                            <img src="{{ url_for('static', filename='icons/done_all_icon.svg') }}" alt="toggle all chapters completion">
                            {% else %}
                            <img src="{{ url_for('static', filename='icons/remove_done_icon.svg') }}" alt="remove all chapters completion">
                            {% endif %}
                        </button>

                       <button type="button" class="btn" onclick="showWorkFavoriteToggleModal('worksFavoriteToggleModal',
                           {% if not work.favorite %}
                           'Do you want to add work to favorites ?',
                           {% else %}
                           'Do you want to remove work from favorites ?',
                           {% endif %}
                           '{{ url_for('works.toggle_work_favorite', work_id=work.work_id, page_id=works_pagination.page_id) }}',);">
                            {% if not work.favorite %}
                            <img src="{{ url_for('static', filename='icons/favorite.svg') }}">
                            {% else %}
                            <img src="{{ url_for('static', filename='icons/favorite_filled.svg') }}">
                            {% endif %}
                       </button>
                    </div>
                </div>
            {% endfor %}
            {% if works_pagination.has_next or works_pagination.has_prev %}
                <div class="pagination-controls">
                    {% if works_pagination.has_prev %}
                        <a class="pagination-controls-item" href="{{ url_for('works.all_works',
                         page_id=works_pagination.prev_num, tag_name=tag.name, only_favorites=only_favorites) }}">
                            Prev
                        </a>
                    {% endif %}
                    {% if works_pagination.has_next %}
                        <a class="pagination-controls-item {{ 'left-p-controls-item' if not works_pagination.has_prev else '' }}"
                           href="{{ url_for('works.all_works',
                                 page_id=works_pagination.next_num, tag_name=tag.name, only_favorites=only_favorites) }}">
                            Next
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <p>No works to show</p>
        {% endif %}
    </div>

    {% include "components/modals/remove_work_modal.html" %}
    {% include "components/modals/chapters_completion_modal.html" %}
    {% include "components/modals/works_favorite_toggle_modal.html" %}
</div>

{% endblock %}