{% extends "page_layout.html" %}
{% block page_content %}

<div class="main-content-wrapper">
    <div class="main-content-container">
        {% if tags|length > 0 %}
            {% for tag in tags %}
               <div class="content-item">
                   <div class="content-item-side-icon-wrapper">
                       <button type="button" class="btn" onclick="showRemoveModal('removeTagModal',
                       '{{ tag.name }}',
                       '{{ url_for('tags.remove_tag', tag_id=tag.id) }}',);">
                            <img src="{{ url_for('static', filename='icons/delete_icon.svg') }}" alt="remove tag">
                       </button>
                   </div>
                    <div class="item-title">
                        <a href="{{ url_for('works.all_works', tag_name=tag.name) }}">
                            <h2>{{ tag.name }}</h2>
                        </a>
                    </div>
                    <div class="item-content-wrapper">
                        <div>
                            <span class="content-item-name">Works:</span> {{ tag.works|length }}
                        </div>
                        {% if tag.get_favorite_works()|length > 0 %}
                        <div>
                            <span class="content-item-name">Favorites:</span> {{ tag.get_favorite_works()|length }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="work-management-wrapper">
                        <button type="button" class="btn" onclick="showRunLongRunningTaskModal('runLongRunningTask',
                            '{{ url_for('tags.force_update', tag_id=tag.id) }}')">
                            <img src="{{ url_for('static', filename='icons/refresh.svg') }}">
                        </button>
                        <a href="{{ url_for('works.removed_works', tag_name=tag.name) }}">
                            <img src="{{ url_for('static', filename='icons/archive_icon.svg') }}" alt="removed works">
                        </a>
                        <a href="{{ url_for('tags.download_tag', tag_id=tag.id) }}">
                            <img src="{{ url_for('static', filename='icons/download_icon.svg') }}" alt="download works">
                        </a>
                        <a href="{{ url_for('works.all_works', tag_name=tag.name, only_favorites=1) }}">
                            <img src="{{ url_for('static', filename='icons/favorite.svg') }}" alt="favorites">
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No tags to show</p>
        {% endif %}
    </div>

    {% include "components/modals/start_long_running_task.html" %}
    {% include "components/modals/remove_tag_modal.html" %}
</div>

{% endblock %}